@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
    background-color: #2f58cd;
}

.Container-sidebar {
    display: flex;
}

.Container {
    width: 100px;
    /* background-color: blue; */
    overflow: hidden;
}

.Sidebar {
    z-index: 3;
    background-color: #fff;
    width: 225px;
    box-shadow: 2px 0px 10px 2px #000;
}

.Container-sidebar .Sidebar a {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 20px 70px 20px 10px;
    font-size: 18px;
    font-family: "poppins", sans-serif;
    color: #000;
    text-decoration: none;
}

.Container-sidebar nav .icon-sidebar{
    font-size: ;
    margin-right: 20px;
}

.Container-sidebar nav a:hover{
    border-left: 6px solid #5778d8;
    color: #5778d8;
}
.Container-sidebar nav a.active {
    border-left: 6px solid #5778d8;
    background-color: #d9d9d9;
    color: #5778d8;
}



/* 
.NavLink{
    margin-top: 20px;
    margin-top: 20px;
} */

.Brand {
    padding: 25px;
    font-size: 30px;
}

.Link:hover {
    border-left: 6px solid #5778d8;
    color: #5778d8;
}

.Link .Icon {
    padding-right: 15px;
}

.Ticket,
.Board,
.Dashboard {
    background-color: blue;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: absolute;
    top: 80px;
    left: 225px;
    right: 0;
    bottom: 0;
    /* background-color: red; */
    overflow-y: scroll;
    /* min-height: 100vh; */
}

.table {
    /* border: 5px solid black; */
    margin: auto;
    margin-top: 40px;
    width: 90%;
}

.table thead {
    margin: auto;
}

.Section {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 40px;
    background-color: blueviolet;
    border-radius: 35px 35px 0px 0px;
    width: 80%;
    /* height: 100vh; */
}

.Header {
    z-index: 2;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 225px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width: 85.8%;
    height: 80px;
    box-shadow: 6px 0px 10px 2px #000;
}

.Header .Ellipse-1 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #5778d8;
    margin-left: 50px;
}

.Header .Ellipse-2 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #2f58cd;
    margin-left: 5px;
}

.Header .Ellipse-3 {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #7415ea;
    margin-left: 5px;
}
.Nav-Title {
    padding-left: 10px;
}

/* CARD */

.Card {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.OpenTickets,
.InprogressTickets,
.ClosedTicket,
.WarningTickets {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 0.5rem; */
    /* position: absolute;
 top: 120px; */
    width: 290px;
    height: 140px;
    background-color: #fff;
    margin: 20px 20px 20px 29px;
    border-radius: 10px;
}

.OpenTickets .OpenData,
.InprogressTickets .InprogressData,
.ClosedTicket .ClosedData,
.WarningTickets .WarningData {
    display: flex;
    justify-content: center;
}

.OpenTickets .OpenData .DataIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #36b22b;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccf5c5;
    font-size: 32px;
    margin: 0 5px 0 20px;
}

.InprogressTickets .InprogressData .DataIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3490e4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b1d5f6;
    font-size: 32px;
    margin: 0 5px 0 20px;
}

.ClosedTicket .ClosedData .DataIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cf3b3b;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f4c4c4;
    font-size: 32px;
    margin: 0 5px 0 20px;
}

.WarningTickets .WarningData .DataIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d3cc2a;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f6f3b1;
    font-size: 32px;
    margin: 0 5px 0 20px;
}

.OpenTickets .OpenData .Data,
.InprogressTickets .InprogressData .Data,
.ClosedTicket .ClosedData .Data,
.WarningTickets .WarningData .Data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 5px;
    font-size: 32px;
    font-family: "poppins", sans-serif;
}

.OpenTitle {
    font-size: 24px;
}

.Chart {
    background-color: #fff;
    width: 71.8%;
    height: 420px;
    margin: 10px 10px 20px 30px;
    border-radius: 10px;
}

.TicketDone {
    background-color: #fff;
    width: 290px;
    height: 200px;
    margin: 10px 10px 20px 30px;
    border-radius: 10px;
}

/* CARD END */

/* Table DAshboard */

.Table-Container {
    background-color: #fff;
    width: 96%;
    margin: 10px 20px 20px 30px;
    border-radius: 10px;
}

.Table-Header {
    display: flex;
    justify-content: space-between;
}

.Table-Header h5 {
    padding: 20px;
    margin: 0;
}

.Table-Header select {
    margin: 20px 30px 20px 20px;
}

.Table-Container table tr td {
    padding: 0px 200px 15px 20px;
}

/* Table Dashboard End */

a.active {
    background-color: red;
}
